.form__group {
    position: relative;
    margin-bottom: 48px;
}

.form__input {
    width: 100%;
    padding: 6px 0;
    border: none;
    border-bottom: 2px solid #7D7D7D;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    font-size: 16px;
}::placeholder {
     color: #1B1B1B;
 }

.form__input__hovered {
    width: 100%;
    padding: 6px 0;
    border: none;
    border-bottom: 2px solid #3E29E3;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    font-size: 16px;
    pointer-events: none;
}

.form__input__focused {
    width: 100%;
    padding: 6px 0;
    border: none;
    border-bottom: 4px solid #3E29E3;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    font-size: 16px;
    pointer-events: none;
}::placeholder {
     color: #1B1B1B;
 }

.form__input__error {
    width: 100%;
    padding: 6px 0;
    border: none;
    border-bottom: 4px solid #E80F3B;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    font-size: 16px;
    pointer-events:none;
}:hover {
     border-color: #E80F3B;
 }

.form__input:focus {
    border-bottom: 4px solid #3E29E3;
}

.form__input:hover {
    border-color: #3E29E3;
}

.form__label__error-text {
    position: relative;
    top: 6px;
    font-size: 14px;
    color: #E80F3B;
}

.form__label {
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
    color: #7D7D7D;
    transition: 0.3s;
}

.main__grid__ui-cells input:focus ~ .form__label,
.main__grid__ui-cells input:valid ~ .form__label {
    top: -12px;
    font-size: 12px;
    color: #7D7D7D;
}
