.radio {
    display: flex;
    align-items: center;
    height: 24px;
    padding-left: 40px;
    margin: 0 0 24px 0;
    position: relative;
    cursor: pointer;
}

.radio__input {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    margin: 0;
}

.radio__box {
    margin-left: -40px;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #7D7D7D;
    border-radius: 50px;
}

.radio__box:hover {
    border-color: #3E29E3;
}

.radio__input:checked + .radio__box {
    background-image: url("../assets/radio-check.svg");
    background-position: center;
    border-color: #3E29E3;
}

.radio__box__hovered {
    margin-left: -40px;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #3E29E3;
    border-radius: 50px;
}

.radio__box__disabled {
    margin-left: -40px;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #3E29E3;
    border-radius: 50px;
    background-image: url("../assets/radio-check.svg");
    background-position: center;
}

.radio__disabled {
    display: flex;
    align-items: center;
    height: 24px;
    padding-left: 40px;
    margin: 0 0 24px 0;
    position: relative;
    pointer-events: none;
}

.radio:hover .radio__box {
    border-color: #3E29E3;
}
